@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'Iceland';
  src: url('/shared-assets/fonts/Iceland-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
